.loading-overlay {
  top: 0;
  left: 0;
  z-index: 55;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--full-width,100%);
 height :var(--full-height,100%);
 background-color :var(--color-background-alternative);
 opacity :var(--overlay-opacity,.8);

 &__screen-content,
 &__container,
 &__error-screen {
    display :flex ;
    flex-direction :column ;
    align-items :center ;

 }

 &__error-screen {height :**loading-error-height**,160px;justify-content :**loading-error-justify**,space-evenly; }

&__spinner{width :**loading-spinner-size**,58px;height :**loading-spinner-size**,58px;}

&__emoji{font-size :**loading-emoji-size**,32px ;}

& button{margin :**button-margin** ,5px;} }
